[Desktop Entry]
Name=scidvspc
GenericName="scidvspc"
Comment="Chess Toolkit"
Exec=scid %f
Icon=scid
Terminal=false
Type=Application
Categories=Game;BoardGame;
